body {
    font-family: 'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', sans-serif;

}

@media (min-width: 1199px) {
    
}

@media (max-width: 991px) {
	th,td {
    font-size:14px;
  }
}

@media (max-width: 767px) {
  .h1-title{
    font-size:20px;
    font-weight: 700;
  }
  .h2-title{
    font-size:18px;
    font-weight: 700;
  }
  .h3-title{
    font-size:16px;
    font-weight: 700;
  }
  .h4-title{
    font-size:14px;
    font-weight: 700;
  }
  .h5-title{
    font-size:12px;
    font-weight: 700;
  }
  .h6-title{
    font-size:11px;
    font-weight: 700;
  }
	th,td {
    font-size:12px;
  }
}

@media (max-width: 543px) {
	table {
		width: 100%;
	}
	th,td {
		display: block;
		text-align: left;
    width: 100%;
    font-size:14px;
  }
  .h1-title{
    font-size:18px;
    font-weight: 700;
  }
  .h2-title{
    font-size:16px;
    font-weight: 700;
  }
  .h3-title{
    font-size:14px;
    font-weight: 700;
  }
  .h4-title{
    font-size:12px;
    font-weight: 700;
  }
  .h5-title{
    font-size:11px;
    font-weight: 700;
  }
  .h6-title{
    font-size:10px;
    font-weight: 700;
  }
}