
@media (min-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    button {
        margin-top: 5px;
        margin-bottom: 5px;
        width:100%;
    }
    #logout-button{
        width:auto;
    }
}

@media (max-width: 543px) {
}
